
.card-title {
    color: #8B4513; /* Marrón cálido */
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-align: center;    
}


.navbar .nav-link:hover {
        color: #D2691E;
        font-weight: bold;
    }
    

.btn-comprar {
    background-color: #F4A460;
    color: #8B4513; 
    border: 1px solid #8B4513;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: block;
    margin: 10px auto;
}

.btn-comprar:hover {
    background-color: #CD853F;
}

/* Estilos para las filas */
.row {
    margin-top: 20px; 
}

/* Estilos para las tarjetas */
.card {
    box-sizing: border-box;
    width: 100%;
    height: 600px;
    margin: 10px;
    background-size: cover;
    background-attachment: fixed;
    background-color: #FAF0E6;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra al pasar el mouse */
    z-index: 1; 
}

/* Estilos para las imágenes dentro de las tarjetas */
.card img {
    margin: 2%;
    object-fit: cover;
    width: 95%;
    height: 400px;
    border-radius: 5px;
}

/* Estilos para el contenedor de texto */
.text-container {
    width: 50%;
    text-align: center;
    margin: 15px auto;
    padding: 12px;
    border: 2px solid #D2B48C;
    border-radius: 5px;
    background-color: #FFF8DC;
}

.text-container h2 {
    color: #8B4513;
    font-family: 'Arial', sans-serif;
}

.text-container p {
    font-size: 18px;
    line-height: 1.6;
    color: #A0522D;
    font-family: 'Arial', sans-serif;
}

/* Estilos para el encabezado */
header {
    margin-bottom: 20px;

    background-color: rgba(228, 182, 108, 0.954);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9999; /* Asegura que el header quede por encima de otros elementos */
}

/* Estilos para el formulario de compra */
#formulario-compra {
    border: 1px solid #D2B48C; /* Marrón claro */
    padding: 20px;
    border-radius: 5px;
    background-color: #FFF8DC; /* Blanco antiguo */
    max-width: 600px;
    margin: 0 auto;
}

#formulario-compra h2 {
    color: #8B4513; /* Marrón cálido */
    margin-bottom: 15px;
}